In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/dvf-data/2017.csv
/kaggle/input/dvf-data/2019.csv
/kaggle/input/dvf-data/2020.csv
/kaggle/input/dvf-data/2018.csv
/kaggle/input/dvf-data/2016.csv

# Read the files

In [2]:
dvf_2016 = pd.read_csv('../input/dvf-data/2016.csv')
dvf_2017 = pd.read_csv('../input/dvf-data/2017.csv')
dvf_2018 = pd.read_csv('../input/dvf-data/2018.csv')
dvf_2019 = pd.read_csv('../input/dvf-data/2019.csv')
dvf_2020 = pd.read_csv('../input/dvf-data/2020.csv')

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (10,12,14,16,17,18,20,22,24,26,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (10,12,14,16,17,18,20,22,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (8,10,12,14,16,17,18,20,22,26,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (10,12,17,18,20,22,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Samples 500000 rows in a random manner in each files

In [3]:
dvf_2016_01 = dvf_2016.sample(500000)
dvf_2017_01 = dvf_2017.sample(500000)
dvf_2018_01 = dvf_2018.sample(500000)
dvf_2019_01 = dvf_2019.sample(500000)
dvf_2020_01 = dvf_2020.sample(500000)
dvf_2016_01.shape

(500000, 40)

# Check the shape of the datasets

In [4]:
dvf_2016_01.shape

(500000, 40)

# Merged the files togethers

In [5]:
dvf_total = pd.concat([dvf_2016_01,dvf_2017_01,dvf_2018_01,dvf_2019_01,dvf_2020_01], axis = 0)

In [6]:
dvf_total.shape

(2500000, 40)

# Reset the index

In [7]:
dvf_total.reset_index()

,index,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,1722113,2016-720526,2016-05-23,1,Vente,84500.0,38.0,NaN,RTE VALENCIENNES I D T,2080,...,Maison,68.0,5.0,S,sols,NaN,NaN,356.0,3.971894,50.282781
1,2285077,2016-967842,2016-09-30,1,Vente,110000.0,2.0,T,RUE DU JEU DE PAUME,1490,...,Appartement,18.0,1.0,NaN,NaN,NaN,NaN,NaN,2.123552,48.801086
2,578879,2016-233781,2016-01-22,1,Vente,142500.0,NaN,NaN,PUYREDON,B029,...,NaN,NaN,NaN,S,sols,NaN,NaN,335.0,1.238995,45.246378
3,2540611,2016-1083782,2016-07-26,1,Vente,141000.0,15.0,NaN,RUE DE LA CROIX BIROCHEAU,0038,...,Maison,114.0,5.0,S,sols,NaN,NaN,1000.0,0.620560,46.734995
4,2742503,2016-1168925,2016-12-07,1,Vente,7260688.0,32.0,NaN,RUE DES CARRIERES,1414,...,Appartement,54.0,3.0,S,sols,NaN,NaN,23425.0,2.295831,48.959236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2499995,150618,2020-64513,2020-05-15,2,Vente,330000.0,NaN,NaN,KAP HUELLA,B245,...,NaN,NaN,NaN,S,sols,NaN,NaN,75.0,-4.392609,48.386885
2499996,317625,2020-139747,2020-02-28,1,Vente,43500.0,NaN,NaN,LES FONTENIS,C078,...,NaN,NaN,NaN,AB,terrains a bâtir,NaN,NaN,305.0,-1.302497,47.355855
2499997,455506,2020-196737,2020-01-10,1,Vente,227000.0,6.0,NaN,RUE MIRABEAU,3800,...,Appartement,101.0,3.0,NaN,NaN,NaN,NaN,NaN,3.167040,50.683603
2499998,764602,2020-341446,2020-05-15,1,Vente en l'état futur d'achèvement,610000.0,41.0,NaN,BD RABELAIS,8105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.479271,48.806629
2499999,194462,2020-84904,2020-01-08,1,Vente,662000.0,5001.0,NaN,LA BECASSIERE,B460,...,Maison,110.0,4.0,AG,terrains d'agrément,NaN,NaN,1370.0,-1.134032,44.587125

# Rename the finale dataset to df for simplicity

In [8]:
df = dvf_total

In [9]:
df.head()

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
1722113,2016-720526,2016-05-23,1,Vente,84500.0,38.0,NaN,RTE VALENCIENNES I D T,2080,59600.0,...,Maison,68.0,5.0,S,sols,NaN,NaN,356.0,3.971894,50.282781
2285077,2016-967842,2016-09-30,1,Vente,110000.0,2.0,T,RUE DU JEU DE PAUME,1490,78000.0,...,Appartement,18.0,1.0,NaN,NaN,NaN,NaN,NaN,2.123552,48.801086
578879,2016-233781,2016-01-22,1,Vente,142500.0,NaN,NaN,PUYREDON,B029,24390.0,...,NaN,NaN,NaN,S,sols,NaN,NaN,335.0,1.238995,45.246378
2540611,2016-1083782,2016-07-26,1,Vente,141000.0,15.0,NaN,RUE DE LA CROIX BIROCHEAU,0038,86210.0,...,Maison,114.0,5.0,S,sols,NaN,NaN,1000.0,0.620560,46.734995
2742503,2016-1168925,2016-12-07,1,Vente,7260688.0,32.0,NaN,RUE DES CARRIERES,1414,93800.0,...,Appartement,54.0,3.0,S,sols,NaN,NaN,23425.0,2.295831,48.959236

# Save the finale file as csv

In [10]:
df.to_csv('dvf_01') #First set for analysis

# Variables Description

In [11]:
#Variables Description
def description(df):
    print(f"Dataset Shape: {df.shape}")
    summary = pd.DataFrame(df.dtypes,columns=['dtypes'])
    summary = summary.reset_index()
    summary['Name'] = summary['index']
    summary = summary[['Name','dtypes']]
    summary['Missing'] = df.isnull().sum().values    
    summary['Uniques'] = df.nunique().values
    summary['First Value'] = df.iloc[0].values
    summary['Second Value'] = df.iloc[1].values
    summary['Third Value'] = df.iloc[2].values
    return summary

description(df)

Dataset Shape: (2500000, 40)

,Name,dtypes,Missing,Uniques,First Value,Second Value,Third Value
0,id_mutation,object,0,1790890,2016-720526,2016-967842,2016-233781
1,date_mutation,object,0,1597,2016-05-23,2016-09-30,2016-01-22
2,numero_disposition,int64,0,641,1,1,1
3,nature_mutation,object,0,6,Vente,Vente,Vente
4,valeur_fonciere,float64,28963,174105,84500.000000,110000.000000,142500.000000
5,adresse_numero,float64,1023180,7241,38.000000,2.000000,NaN
6,adresse_suffixe,object,2391476,39,NaN,T,NaN
7,adresse_nom_voie,object,24088,543238,RTE VALENCIENNES I D T,RUE DU JEU DE PAUME,PUYREDON
8,adresse_code_voie,object,24022,17187,2080,1490,B029
9,code_postal,float64,24179,5868,59600.000000,78000.000000,24390.000000
10,code_commune,object,0,33496,59392,78646,24136
11,nom_commune,object,0,30907,Maubeuge,Versailles,Coubjours
12,code_departement,object,0,100,59,78,24
13,ancien_code_commune,float64,2466970,1548,NaN,NaN,NaN
14,ancien_nom_commune,object,2466970,1548,NaN,NaN,NaN
15,id_parcelle,object,0,1773865,593920000Q0279,78646000AH0103,241360000A0046
16,ancien_id_parcelle,object,2492613,6915,NaN,NaN,NaN
17,numero_volume,object,2492354,771,NaN,NaN,NaN
18,lot1_numero,object,1715856,11407,NaN,41.000000,NaN
19,lot1_surface_carrez,float64,2283857,17483,NaN,15.800000,NaN
20,lot2_numero,object,2334276,5299,NaN,NaN,NaN
21,lot2_surface_carrez,float64,2446502,11558,NaN,NaN,NaN
22,lot3_numero,object,2472885,1448,NaN,NaN,NaN
23,lot3_surface_carrez,float64,2494792,3952,NaN,NaN,NaN
24,lot4_numero,object,2490583,772,NaN,NaN,NaN
25,lot4_surface_carrez,float64,2498634,1172,NaN,NaN,NaN
26,lot5_numero,object,2495644,508,NaN,NaN,NaN
27,lot5_surface_carrez,float64,2499368,529,NaN,NaN,NaN
28,nombre_lots,int64,0,74,0,1,0
29,code_type_local,float64,1137198,4,1.000000,2.000000,NaN
30,type_local,object,1137198,4,Maison,Appartement,NaN
31,surface_reelle_bati,float64,1474948,4205,68.000000,18.000000,NaN
32,nombre_pieces_principales,float64,1139062,45,5.000000,1.000000,NaN
33,code_nature_culture,object,794500,27,S,NaN,S
34,nature_culture,object,794500,27,sols,NaN,sols
35,code_nature_culture_speciale,object,2386732,124,NaN,NaN,NaN
36,nature_culture_speciale,object,2386732,124,NaN,NaN,NaN
37,surface_terrain,float64,794553,42032,356.000000,NaN,335.000000
38,longitude,float64,83766,1556899,3.971894,2.123552,1.238995
39,latitude,float64,83766,1511301,50.282781,48.801086,45.246378

# Dealing with missing values

In [12]:
# Replacing missing values by the most repeat data(mod)e in the columns (Scenario 1), we can also delete our missing values (Scenario 2) or predict them using others variables as input (Scenario 3)

def replace_nan(df):
    for column in df.columns:
        if df[column].isna().sum() > 0:
            df[column] = df[column].fillna(df[column].mode()[0])


replace_nan(df)

In [13]:
description(df)

Dataset Shape: (2500000, 40)

,Name,dtypes,Missing,Uniques,First Value,Second Value,Third Value
0,id_mutation,object,0,1790890,2016-720526,2016-967842,2016-233781
1,date_mutation,object,0,1597,2016-05-23,2016-09-30,2016-01-22
2,numero_disposition,int64,0,641,1,1,1
3,nature_mutation,object,0,6,Vente,Vente,Vente
4,valeur_fonciere,float64,0,174105,84500.000000,110000.000000,142500.000000
5,adresse_numero,float64,0,7241,38.000000,2.000000,1.000000
6,adresse_suffixe,object,0,39,B,T,B
7,adresse_nom_voie,object,0,543238,RTE VALENCIENNES I D T,RUE DU JEU DE PAUME,PUYREDON
8,adresse_code_voie,object,0,17187,2080,1490,B029
9,code_postal,float64,0,5868,59600.000000,78000.000000,24390.000000
10,code_commune,object,0,33496,59392,78646,24136
11,nom_commune,object,0,30907,Maubeuge,Versailles,Coubjours
12,code_departement,object,0,100,59,78,24
13,ancien_code_commune,float64,0,1548,85194.000000,85194.000000,85194.000000
14,ancien_nom_commune,object,0,1548,Les Sables-d'Olonne,Les Sables-d'Olonne,Les Sables-d'Olonne
15,id_parcelle,object,0,1773865,593920000Q0279,78646000AH0103,241360000A0046
16,ancien_id_parcelle,object,0,6915,85166000AC1258,85166000AC1258,85166000AC1258
17,numero_volume,object,0,771,1.000000,1.000000,1.000000
18,lot1_numero,object,0,11407,1.000000,41.000000,1.000000
19,lot1_surface_carrez,float64,0,17483,12.500000,15.800000,12.500000
20,lot2_numero,object,0,5299,6.000000,6.000000,6.000000
21,lot2_surface_carrez,float64,0,11558,65.000000,65.000000,65.000000
22,lot3_numero,object,0,1448,6.000000,6.000000,6.000000
23,lot3_surface_carrez,float64,0,3952,12.500000,12.500000,12.500000
24,lot4_numero,object,0,772,9.000000,9.000000,9.000000
25,lot4_surface_carrez,float64,0,1172,74.870000,74.870000,74.870000
26,lot5_numero,object,0,508,8.000000,8.000000,8.000000
27,lot5_surface_carrez,float64,0,529,4.800000,4.800000,4.800000
28,nombre_lots,int64,0,74,0,1,0
29,code_type_local,float64,0,4,1.000000,2.000000,1.000000
30,type_local,object,0,4,Maison,Appartement,Maison
31,surface_reelle_bati,float64,0,4205,68.000000,18.000000,80.000000
32,nombre_pieces_principales,float64,0,45,5.000000,1.000000,0.000000
33,code_nature_culture,object,0,27,S,S,S
34,nature_culture,object,0,27,sols,sols,sols
35,code_nature_culture_speciale,object,0,124,POTAG,POTAG,POTAG
36,nature_culture_speciale,object,0,124,Jardin potager,Jardin potager,Jardin potager
37,surface_terrain,float64,0,42032,356.000000,500.000000,335.000000
38,longitude,float64,0,1556899,3.971894,2.123552,1.238995
39,latitude,float64,0,1511301,50.282781,48.801086,45.246378

# Save the File without missing values as csv

In [14]:
df_without_nan = df
df.to_csv('df_nan')

# Filtering the dataset by Local industriel. commercial ou assimilé

In [15]:
df_com = df[df['type_local'] == 'Local industriel. commercial ou assimilé']

In [16]:
df_com

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
2387661,2016-1013437,2016-12-19,1,Vente,37398.37,5127.0,B,AV DE L ALBIGEOIS,0007,81320.0,...,Local industriel. commercial ou assimilé,258.0,0.0,S,sols,POTAG,Jardin potager,199.0,2.853432,43.685802
805477,2016-327230,2016-04-13,1,Vente,1220000.00,10.0,B,PL ALFONSE JOURDAIN,0169,31000.0,...,Local industriel. commercial ou assimilé,13.0,0.0,S,sols,POTAG,Jardin potager,500.0,1.429680,43.611389
2654540,2016-1130437,2016-10-25,1,Vente,292000.00,58.0,B,RUE GRANDE RUE,1420,91620.0,...,Local industriel. commercial ou assimilé,195.0,0.0,S,sols,POTAG,Jardin potager,500.0,2.270281,48.657936
726073,2016-292479,2016-06-29,1,Vente,420000.00,19.0,B,RUE DE LA 2EME DB,1280,29200.0,...,Local industriel. commercial ou assimilé,276.0,0.0,S,sols,POTAG,Jardin potager,265.0,-4.483534,48.392627
2885628,2016-1237106,2016-04-21,1,Vente,10717560.00,150.0,B,RUE DE RENNES,8151,75006.0,...,Local industriel. commercial ou assimilé,291.0,0.0,S,sols,POTAG,Jardin potager,500.0,2.324091,48.844582
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258178,2020-113347,2020-04-30,1,Vente,36500.00,84.0,B,RUE DE LA REPUBLIQUE,0530,37110.0,...,Local industriel. commercial ou assimilé,12.0,0.0,S,sols,POTAG,Jardin potager,45.0,0.910914,47.592026
188879,2020-81900,2020-02-17,1,Vente,550000.00,22.0,B,ALL DE PERONETTE,0607,33127.0,...,Local industriel. commercial ou assimilé,1600.0,0.0,S,sols,POTAG,Jardin potager,511.0,-0.744561,44.812417
782836,2020-351064,2020-02-28,1,Vente,1450000.00,291.0,B,AV ROGER GUICHARD,0443,95610.0,...,Local industriel. commercial ou assimilé,12.0,0.0,S,sols,POTAG,Jardin potager,500.0,2.091336,49.019150
337468,2020-148849,2020-05-06,1,Vente,140000.00,25.0,B,AV GEORGES CLEMENCEAU,1440,44500.0,...,Local industriel. commercial ou assimilé,29.0,0.0,S,sols,POTAG,Jardin potager,500.0,-2.388655,47.287795
514664,2020-225606,2020-06-25,1,Vente,62000.00,65.0,B,RUE MASSEY,2340,65000.0,...,Local industriel. commercial ou assimilé,130.0,0.0,S,sols,POTAG,Jardin potager,145.0,0.073735,43.238561

# Save the new dataset df_com as csv

In [17]:
df_com.to_csv('commercial')

# Dealing with time

In [18]:
df_com.date = pd.to_datetime(df_com['date_mutation'])

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

# Year, month, day extractions as new features

In [19]:
df_com['year'] = pd.DatetimeIndex(df_com['date_mutation']).year
df_com['month'] = pd.DatetimeIndex(df_com['date_mutation']).month
df_com['day'] = pd.DatetimeIndex(df_com['date_mutation']).day
df_com['weekday'] = pd.DatetimeIndex(df_com['date_mutation']).weekday
df_com['year'] = pd.DatetimeIndex(df_com['date_mutation']).year;

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [20]:
df_com.drop('date_mutation',axis =1)

,id_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,...,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude,year,month,day,weekday
2387661,2016-1013437,1,Vente,37398.37,5127.0,B,AV DE L ALBIGEOIS,0007,81320.0,81192,...,sols,POTAG,Jardin potager,199.0,2.853432,43.685802,2016,12,19,0
805477,2016-327230,1,Vente,1220000.00,10.0,B,PL ALFONSE JOURDAIN,0169,31000.0,31555,...,sols,POTAG,Jardin potager,500.0,1.429680,43.611389,2016,4,13,2
2654540,2016-1130437,1,Vente,292000.00,58.0,B,RUE GRANDE RUE,1420,91620.0,91665,...,sols,POTAG,Jardin potager,500.0,2.270281,48.657936,2016,10,25,1
726073,2016-292479,1,Vente,420000.00,19.0,B,RUE DE LA 2EME DB,1280,29200.0,29019,...,sols,POTAG,Jardin potager,265.0,-4.483534,48.392627,2016,6,29,2
2885628,2016-1237106,1,Vente,10717560.00,150.0,B,RUE DE RENNES,8151,75006.0,75106,...,sols,POTAG,Jardin potager,500.0,2.324091,48.844582,2016,4,21,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258178,2020-113347,1,Vente,36500.00,84.0,B,RUE DE LA REPUBLIQUE,0530,37110.0,37063,...,sols,POTAG,Jardin potager,45.0,0.910914,47.592026,2020,4,30,3
188879,2020-81900,1,Vente,550000.00,22.0,B,ALL DE PERONETTE,0607,33127.0,33422,...,sols,POTAG,Jardin potager,511.0,-0.744561,44.812417,2020,2,17,0
782836,2020-351064,1,Vente,1450000.00,291.0,B,AV ROGER GUICHARD,0443,95610.0,95218,...,sols,POTAG,Jardin potager,500.0,2.091336,49.019150,2020,2,28,4
337468,2020-148849,1,Vente,140000.00,25.0,B,AV GEORGES CLEMENCEAU,1440,44500.0,44055,...,sols,POTAG,Jardin potager,500.0,-2.388655,47.287795,2020,5,6,2
514664,2020-225606,1,Vente,62000.00,65.0,B,RUE MASSEY,2340,65000.0,65440,...,sols,POTAG,Jardin potager,145.0,0.073735,43.238561,2020,6,25,3

# Save as csv

In [21]:
df_com.to_csv('with_date')

# Check the new dataset

In [22]:
df_com.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 93395 entries, 2387661 to 514664
Data columns (total 44 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id_mutation                   93395 non-null  object
 1   date_mutation                 93395 non-null  object
 2   numero_disposition            93395 non-null  int64
 3   nature_mutation               93395 non-null  object
 4   valeur_fonciere               93395 non-null  float64
 5   adresse_numero                93395 non-null  float64
 6   adresse_suffixe               93395 non-null  object
 7   adresse_nom_voie              93395 non-null  object
 8   adresse_code_voie             93395 non-null  object
 9   code_postal                   93395 non-null  float64
 10  code_commune                  93395 non-null  object
 11  nom_commune                   93395 non-null  object
 12  code_departement              93395 non-null  object
 13  ancien_code_commune           93395 non-null  float64
 14  ancien_nom_commune            93395 non-null  object
 15  id_parcelle                   93395 non-null  object
 16  ancien_id_parcelle            93395 non-null  object
 17  numero_volume                 93395 non-null  object
 18  lot1_numero                   93395 non-null  object
 19  lot1_surface_carrez           93395 non-null  float64
 20  lot2_numero                   93395 non-null  object
 21  lot2_surface_carrez           93395 non-null  float64
 22  lot3_numero                   93395 non-null  object
 23  lot3_surface_carrez           93395 non-null  float64
 24  lot4_numero                   93395 non-null  object
 25  lot4_surface_carrez           93395 non-null  float64
 26  lot5_numero                   93395 non-null  object
 27  lot5_surface_carrez           93395 non-null  float64
 28  nombre_lots                   93395 non-null  int64
 29  code_type_local               93395 non-null  float64
 30  type_local                    93395 non-null  object
 31  surface_reelle_bati           93395 non-null  float64
 32  nombre_pieces_principales     93395 non-null  float64
 33  code_nature_culture           93395 non-null  object
 34  nature_culture                93395 non-null  object
 35  code_nature_culture_speciale  93395 non-null  object
 36  nature_culture_speciale       93395 non-null  object
 37  surface_terrain               93395 non-null  float64
 38  longitude                     93395 non-null  float64
 39  latitude                      93395 non-null  float64
 40  year                          93395 non-null  int64
 41  month                         93395 non-null  int64
 42  day                           93395 non-null  int64
 43  weekday                       93395 non-null  int64
dtypes: float64(15), int64(6), object(23)
memory usage: 32.1+ MB

In [23]:
!pip install jovian
import jovian

Collecting jovian
  Downloading jovian-0.2.32-py2.py3-none-any.whl (67 kB)
     |████████████████████████████████| 67 kB 605 kB/s eta 0:00:01
Requirement already satisfied: pyyaml in /opt/conda/lib/python3.7/site-packages (from jovian) (5.3.1)
Collecting uuid
  Downloading uuid-1.30.tar.gz (5.8 kB)
Requirement already satisfied: requests in /opt/conda/lib/python3.7/site-packages (from jovian) (2.25.1)
Requirement already satisfied: click in /opt/conda/lib/python3.7/site-packages (from jovian) (7.1.2)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from requests->jovian) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests->jovian) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests->jovian) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests->jovian) (1.26.2)
Building wheels for collected packages: uuid
  Building wheel for uuid (setup.py) ... done
  Created wheel for uuid: filename=uuid-1.30-py3-none-any.whl size=6501 sha256=c6ff429a983d0e9a12fcd183ead274929f74b7c9e18af2d404fef8c24b004df8
  Stored in directory: /root/.cache/pip/wheels/2a/ea/87/dd57f1ecb4f0752f3e1dbf958ebf8b36d920d190425bcdc24d
Successfully built uuid
Installing collected packages: uuid, jovian
Successfully installed jovian-0.2.32 uuid-1.30
WARNING: You are using pip version 21.0; however, version 21.0.1 is available.
You should consider upgrading via the '/opt/conda/bin/python3.7 -m pip install --upgrade pip' command.

In [24]:
jovian.commit(project='SNAP datasets')

[jovian] Attempting to save notebook..
[jovian] Detected Kaggle notebook...
[jovian] Please enter your API key ( from https://jovian.ai/ ):
API KEY: ········
[jovian] Uploading notebook to https://jovian.ai/yeonathan/SNAP datasets